In [127]:
import sqlite3
conn = sqlite3.connect('example3.db')

In [128]:
c = conn.cursor()

# Create table
c.execute('''CREATE TABLE stocks
             (date text, trans text, symbol text, qty real, price real)''')

# Insert a row of data
c.execute("INSERT INTO stocks VALUES ('2006-01-05','BUY','RHAT',100,35.14)")

# Save (commit) the changes
conn.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
#conn.close()

In [129]:
conn = sqlite3.connect('example3.db')

t = ('RHAT',)
c.execute('SELECT * FROM stocks WHERE symbol=?', t)
print(c.fetchone())

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)

In [130]:
# Larger example that inserts many records at a time
purchases = [('2006-03-28', 'BUY', 'IBM', 1000, 45.00),
             ('2006-04-05', 'BUY', 'MSFT', 1000, 72.00),
             ('2006-04-06', 'SELL', 'IBM', 500, 53.00),
            ]
c.executemany('INSERT INTO stocks VALUES (?,?,?,?,?)', purchases)

In [131]:
for row in c.execute('SELECT * FROM stocks ORDER BY price'):
    print(row)

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-03-28', 'BUY', 'IBM', 1000.0, 45.0)
('2006-04-06', 'SELL', 'IBM', 500.0, 53.0)
('2006-04-05', 'BUY', 'MSFT', 1000.0, 72.0)

In [132]:
persons = [
    ("Hugo", "Boss"),
    ("Calvin", "Klein"),
    ("Ralph", "Lauren")
    ]

subbrands = [
    ("Hugo Boss", "Boss"),
    ("Hugo Boss", "Boss Orange"),
    ("Hugo Boss", "Hugo"),
    ("Hugo Boss", "Baldessarini"),
    ("Calvin Klein", "Calvin Klein Jeans"),
    ("Calvin Klein", "Calvin Klein Underwear")
]

con = sqlite3.connect(":memory:")

# Create the table
con.execute("create table person(firstname, lastname)")
con.execute("create table subbrands(designer, brand)")
    
# Fill the table
con.executemany("insert into person(firstname, lastname) values (?, ?)", persons)
con.executemany("insert into subbrands(designer, brand) values (?, ?)", subbrands)

In [133]:
# Print the table contents
for row in con.execute("select firstname, lastname from person"):
    print(row)

('Hugo', 'Boss')
('Calvin', 'Klein')
('Ralph', 'Lauren')

In [134]:
# select statement with where condition
for row in con.execute("select firstname, lastname, length(firstname) from person where length(firstname)<6"):
    print(row)

('Hugo', 'Boss', 4)
('Ralph', 'Lauren', 5)

In [135]:
# Print the table contents
for row in con.execute("select *from subbrands"):
    print(row)

('Hugo Boss', 'Boss')
('Hugo Boss', 'Boss Orange')
('Hugo Boss', 'Hugo')
('Hugo Boss', 'Baldessarini')
('Calvin Klein', 'Calvin Klein Jeans')
('Calvin Klein', 'Calvin Klein Underwear')

In [136]:
# Print the table contents
for row in con.execute("select * from person p left join subbrands b on p.firstname||' '||p.lastname = b.designer"):
    print(row)

('Hugo', 'Boss', 'Hugo Boss', 'Baldessarini')
('Hugo', 'Boss', 'Hugo Boss', 'Boss')
('Hugo', 'Boss', 'Hugo Boss', 'Boss Orange')
('Hugo', 'Boss', 'Hugo Boss', 'Hugo')
('Calvin', 'Klein', 'Calvin Klein', 'Calvin Klein Jeans')
('Calvin', 'Klein', 'Calvin Klein', 'Calvin Klein Underwear')
('Ralph', 'Lauren', None, None)

In [137]:
# delete rows from table
print("I just deleted", con.execute("delete from person where firstname in ('Hugo','Ralph')").rowcount, "rows")

I just deleted 2 rows

In [138]:
# Print the table contents
for row in con.execute("select * from person"):
    print(row)

('Calvin', 'Klein')

In [139]:
from sqlite3 import dbapi2 as sqlite

geo = [
    ("NYC", "USA"),
    ("London", "UK"),
    ("Berlin", "Germany")
    ]


con = sqlite3.connect(":memory:")

# Create the table
con.execute("create table geo(city, country)")
    
# Fill the table
con.executemany("insert into geo(city, country) values (?, ?)", geo)

cur.execute("select * from geo")
col_name_list = [tuple[0] for tuple in cur.description]
print(col_name_list)

['city', 'country']